<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hare.projecthl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExerActivity"
            android:label="Exercise" />
        <activity
            android:name=".WorkActivity"
            android:label="Workouts" />
        <activity
            android:name=".PushActivity"
            android:label="Pushups" />
        <activity android:name=".SqatActivity" />
        <activity android:name=".BurpActivity" />
        <activity android:name=".WideActivity" />
        <activity android:name=".LeftActivity" />
        <activity android:name=".RigtActivity" />
        <activity android:name=".TdipActivity" />
        <activity android:name=".KickActivity" />
        <activity android:name=".PlnkActivity" />
        <activity android:name=".CrncActivity" />
        <activity android:name=".JumpActivity" />
        <activity android:name=".WallAtivity" />
        <activity android:name=".StepActivity" />
        <activity android:name=".Wor1Activity" />
        <activity android:name=".Wor2Activity" />
        <activity android:name=".Wor3Activity" />
        <activity android:name=".Wor4Activity"></activity>
    </application>

</manifest>